{% extends "base/base.html" %} 
{% block start %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h1 class="card-title mb-4">Welcome to Our SocialGram</h1>
                    <p class="card-text mb-4">Connect with friends and the world around you.</p>
                    <a href="users/login" class="btn btn-outline-primary btn-lg mb-3">Login</a>
                    <a href="users/register" class="btn btn-success btn-lg">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}